.modal-outer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 99998;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000077;
}

.modal-inner {
    position: relative;
    background: transparent;
    z-index: 99999;
}
.modal-child-content {
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
}

.blur {
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}


@-webkit-keyframes blur {
    to {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
}

@-moz-keyframes blur {
    to {
        -moz-filter: blur(5px);
        filter: blur(5px);
    }
}

@keyframes blur {
    to {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        filter: blur(5px);
    }
}

