@if (ModalService.IsOpen)
{
    <div class="modal-outer" @onclick="OnBackgroundClicked">
        <div class="modal-inner" @onclick:stopPropagation="true">
            @ModalService.ModalFragment
        </div>
    </div>
}
<div class="@ChildContentCss">
    @ChildContent
</div>
<style>
    :root {
        --backgroundColour: @ModalService.BackgroundColour;
        --backgroundBlur: @($"{ModalService.BlurPixels}px");
    }
</style>
