.modal-outer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 99998;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColour);
}

.modal-inner {
    position: relative;
    background: transparent;
    z-index: 99999;
}
.modal-child-content {
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
}

.blur {
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::deep .fadeIn {
    animation-duration: .3s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes blur {
    to {
        -webkit-filter: blur(var(--backgroundBlur));
        filter: blur(var(--backgroundBlur));
    }
}

@-moz-keyframes blur {
    to {
        -moz-filter: blur(var(--backgroundBlur));
        filter: blur(var(--backgroundBlur));
    }
}

@keyframes blur {
    to {
        -webkit-filter: blur(var(--backgroundBlur));
        -moz-filter: blur(var(--backgroundBlur));
        filter: blur(var(--backgroundBlur));
    }
}

