@if (ModalService.IsOpen)
{
    <div class="modal-outer" @onclick="@ModalService.CloseModal">
        <div class="modal-inner" @onclick:stopPropagation="true" >
            @ModalService.ModalFragment
        </div>
    </div>
}
<div class="@(ModalService.IsOpen ? "modal-child-content" :"")">
    @ChildContent
</div>
