<div class="modal-content shadow-lg">
    <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <ModalCloseButton type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </ModalCloseButton>
    </div>
    <div class="modal-body">
        <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
        <ModalCloseButton  type="button" class="btn btn-secondary" aria-label="Close">Close</ModalCloseButton>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>
