<div class="modal-content shadow-lg fadeIn">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <ModalCloseButton type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </ModalCloseButton>
        </div>
        <div class="modal-body">
           
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" @bind="@SomeData.Name" id="Name" placeholder="Name">
          
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control"  @bind="@SomeData.Email" id="inputEmail" placeholder="Enter email">
           
            </div>
            <div class="form-group">
                <label for="inputDOB">Date of Birth</label>
                <input type="date" class="form-control" @bind="@SomeData.DateOfBirth" id="inputDOB" placeholder="Date of Birth">
            </div>
        </div>
        <div class="modal-footer">
            <ModalCloseButton type="button" class="btn btn-secondary" aria-label="Close">Close</ModalCloseButton>
            <ModalOkButton type="button" class="btn btn-primary" aria-label="Save Changes">Save Changes</ModalOkButton>
        </div>
    </div>
@code {
    [Parameter]
    public SomeDataModel SomeData { get; set; }
}
